* {
  margin: 0;
  padding: 0;
}
body {
  width: 100;
  height: auto;
  color: white;
  display: flex;
  flex-direction: column;
}
header {
  background-color: #103b02;
  width: 100%;
  height: 100px;
}
nav {
  margin: 27px auto 0;
  position: relative;
  width: 440px;
  height: 50px;
  background-color: #176100;
  border-radius: 8px;
  font-size: 0;
}
nav a {
  line-height: 50px;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
}
nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all 0.5s ease 0s;
  border-radius: 8px;
}
a:nth-child(1) {
  width: 100px;
}
a:nth-child(2) {
  width: 100px;
}
a:nth-child(3) {
  width: 120px;
}
a:nth-child(4) {
  width: 120px;
}

nav .start-home,
a:nth-child(1):hover ~ .animation {
  width: 100px;
  left: 0;
  background-color: #3ef506;
}
nav .start-about,
a:nth-child(2):hover ~ .animation {
  width: 100px;
  left: 100px;
  background-color: #34d702;
}
nav .start-blog,
a:nth-child(3):hover ~ .animation {
  width: 120px;
  left: 200px;
  background-color: #259d01;
}
nav .start-portefolio,
a:nth-child(4):hover ~ .animation {
  width: 120px;
  left: 320px;
  background-color: #228f00;
}

.start {
  background-color: #228f00;
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.start_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 40px;
  margin-top: 50px;
}

.start p {
  animation: type 3s steps(30);
  color: white;
  font-size: 30px;
  font-family: consolas;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes type {
  0% {
    width: 0ch;
  }

  100% {
    width: 17ch;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  display: flex;
  align-items: center;
  width: 50%;
  overflow: hidden;
}

.scroll-parent {
  position: relative;
  width: 100%;
  height: 20rem;
  padding: 2rem 0;
  overflow-x: hidden;
}

.scroll-element {
  width: inherit;
  height: inherit;
  position: absolute;
  left: 0%;
  top: 0%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.scroll-element p {
  font-size: 1em;
}

.primary {
  animation: primary 7s linear infinite;
}

.secondary {
  animation: secondary 7s linear infinite;
}

@keyframes primary {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}

@keyframes secondary {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}

.aboutme {
  background-color: #176100;
  margin: 0 auto;
  padding-top: 50px;
  height: 400px;
  width: 100%;
}
.entire-carrousel {
  margin: auto;
  width: 190px;
  perspective: 1000px;
  position: relative;
  padding-top: 80px;
}
.content-carrousel {
  width: 100%;
  position: absolute;
  float: right;
  animation: rotar 15s infinite linear;
  transform-style: preserve-3d;
}
.content-carrousel:hover {
  animation-play-state: paused;
  cursor: pointer;
}
.content-carrousel video {
  width: 100%;
  height: 120px;
  border: 1px solid #3b444b;
  overflow: hidden;
  position: absolute;
}

.content-carrousel video:nth-child(1) {
  transform: rotateY(0deg) translateZ(300px);
}
.content-carrousel video:nth-child(2) {
  transform: rotateY(40deg) translateZ(300px);
}
.content-carrousel video:nth-child(3) {
  transform: rotateY(80deg) translateZ(300px);
}

.content-carrousel img {
  image-rendering: auto;
  transition: all 300ms;
  width: 100%;
  height: 100%;
}

.content-carrousel img:hover {
  transform: scale(1.2);
  transition: all 300ms;
}

.shadow {
  position: absolute;
  box-shadow: 0px 0px 20px 0px #000;
  border-radius: 1px;
}

@keyframes rotar {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

video {
  width: 100px;
  height: 200px;
}

.proyects {
  background-color: #103b02;
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
}
.proyect-container,
.front,
.back {
  width: 20rem;
  height: 20rem;
}
.proyect-container {
  margin: 5rem;
}
.front,
.back {
  box-sizing: border-box;
  padding: 2rem;
  border-radius: 4px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
  background-color: #3ef506;
}

.proyect-container {
  position: relative;
}
.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  overflow: hidden;
  transition: transform 0.8s ease;
}
.back {
  transform: rotateY(180deg);
  background-color: #259d01;
}
.proyect-container:hover .front {
  transform: rotateY(-180deg);
}
.proyect-container:hover .back {
  transform: rotateY(0deg);
}

.proyect-container {
  perspective: 75rem;
}

img {
  width: 200px;
  height: 200px;
}

.contact {
  background-color: #228f00;
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact img {
  width: 100px;
  height: 100px;
  padding-left: 50px;
}

footer {
  background-color: #176100;
  width: 100%;
  height: 50px;
}
footer nav {
  margin-top: 0;
}
