* {
  margin: 0;
  padding: 0;
}
body {
  width: 100;
  height: auto;
  color: white;
  display: flex;
  flex-direction: column;
}
header {
  background-color: #103b02;
  width: 100%;
  height: 100px;
}
nav {
  margin: 27px auto 0;
  position: relative;
  width: 440px;
  height: 50px;
  background-color: #176100;
  border-radius: 8px;
  font-size: 0;
}
nav a {
  line-height: 50px;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
}
nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all 0.5s ease 0s;
  border-radius: 8px;
}
a:nth-child(1) {
  width: 100px;
}
a:nth-child(2) {
  width: 100px;
}
a:nth-child(3) {
  width: 120px;
}
a:nth-child(4) {
  width: 120px;
}

nav .start-home,
a:nth-child(1):hover ~ .animation {
  width: 100px;
  left: 0;
  background-color: #3ef506;
}
nav .start-about,
a:nth-child(2):hover ~ .animation {
  width: 100px;
  left: 100px;
  background-color: #34d702;
}
nav .start-blog,
a:nth-child(3):hover ~ .animation {
  width: 120px;
  left: 200px;
  background-color: #259d01;
}
nav .start-portefolio,
a:nth-child(4):hover ~ .animation {
  width: 120px;
  left: 320px;
  background-color: #228f00;
}

.inicio {
  background-color: #228f00;
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 40px;
}

p {
  animation: type 3s steps(30);
  color: white;
  font-size: 30px;
  font-family: consolas;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes type {
  0% {
    width: 0ch;
  }

  100% {
    width: 17ch;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sobremi {
  background-color: #176100;
  width: 100%;
  height: auto;
}

video {
  width: 100px;
  height: 200px;
}

.proyectos {
  background-color: #103b02;
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
}

img {
  width: 200px;
  height: 200px;
}

.contacto {
  background-color: #228f00;
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacto img {
  width: 100px;
  height: 100px;
  padding-left: 50px;
}

footer {
  background-color: #176100;
  width: 100%;
  height: 50px;
}
